@import './styles/_var.scss';
@import './styles/_components.scss';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    font-family: $font;
}

main{
    width: 100vw;
    height: 100vh;
    margin: auto;
    display:flex;
    background: $violetBackground;
}

#appContainer{
    position: relative;
    background-color: $appContainer;
    // overflow: hidden;

}

// #blob1{
//     position: absolute;
//     top: 0;
//     left: 0;
//     // z-index: -1;
// }

// #blob2{
//     position: absolute;
//     bottom: 0;
//     right: 0;
//     // z-index: -1;
// }

.passLengthIcon{
    gap: 10px;
    p{
        font-weight: 400;
        font-size: 18px;
        line-height: 23px;
        letter-spacing: 0.05em;
        color: $mainColor;
    }
}

#logoContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}



.passLengthIcon{
    display: flex;
}


.currentLength{
    display: flex;
    justify-content: space-between;
    input{
        width: 80%;
    }
}

.checkBoxContainer {
    color: white;
}

.screen{
    color:white;
    @include screen
}


.anssiFrance{
    @include anssi;
    p{
        color: $anssi ;
    }
}
h1{
    color: $mainColor;
    text-shadow: 0px 0px 3.5px #C9ABFC;
}

@media only screen and (max-width:650px){
    .passAnssi,
    .length,
    .anssiFrance
    {
        margin-top: 20px;
    }
    #logoContainer{
        width: 100%;
        justify-content: space-evenly;
        padding-top: 20px;
        div{
            svg{
                height: 34.52px;
                width: 50px;
            }
        }
        h1{
            font-size:24px;
        }

    }
    #appContainer{
        width:100%;
        height: 100%;
    }

    .passAnssi{
        width:85%;
        margin: 50px auto;
    }

    .passLengthIcon{
        gap: 10px;
        p{
            font-weight: 400;
            font-size: 18px;
            line-height: 23px;
            letter-spacing: 0.05em;
            color: $mainColor;
        }
    }

    .anssiFrance2{
        width: 85%;
        margin: auto;
    }

}

// section 2

.logoOption{
    display: flex;
    p{
        color: $mainColor;
    }
}

.logoOption{
    display: flex;
    width:100%;
    gap: 10px;
}
.anssiFrance2{
    @include anssi;
    margin-top: 20px;
    color:$anssi;
}
@media only screen and (max-width:650px){

    .checkBoxContainer{
        margin-top: 20px;
        color: white;
    }
    #passwordOptions{
        width: 85%;
        margin: 50px auto;
    }

    .logoOption{
        display: flex;
        width:100%;
        gap: 10px;
    }

    .upperLower{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 20px;

        .upper{
            display: flex;
            align-items: center;
            gap: 5px;
        }

        .lower{
            display: flex;
            align-items: center;
            gap: 5px;
            margin-right: 56px;
        }
    }

    .numberChars{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        .numbers{
            display: flex;
            align-items: center;
            gap: 5px;
        }

        .specialChars{
            display: flex;
            align-items: center;
            gap: 5px;
        }
    }
}

// scetion 3


#end{
    button{
        @include generate;
       display: flex;
       justify-content: center;
       align-items: center;
    }

}
input{
    font-family: $font;
    color: $anssi;
    background-color: #3D3A49;
}
@media only screen and (max-width:650px){
    #end{
        width: 85%;
        margin: 30px auto;
    }

    form{
        display: flex;
        @include input;
        margin-top: 30px;
        @include copy;
        border-radius: 10px;
        input{
            width: 80%;
            outline: none;
            border: none;
            border-radius: 10px 0px 0px 10px;
            padding-left: 15px;
        }
        .greenCopy{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: auto;
            cursor: pointer;

        }
    }
}


// susccess
.success{
    margin-top: 20px;
    @include success;
    color: $mainColor;
}

@media only screen and (max-width:650px){
    .success{
        width: 85%;
        margin: 20px auto;
    }
}

input[type="checkbox"]{
    height:20px;
    width: 20px;
    cursor: pointer;
    background-color: $mainColor;
}

.success{
    visibility: hidden;
}

// tablette

@media only screen and (min-width:651px){
    #appContainer{
        width:90%;
        height: 95%;
        margin: auto;
        border-radius: 15px;
    }
    #logoContainer{
        width: 100%;
        gap: 51px;
        padding-top: 30px;
        svg{
            width: 70px;
            height: 48px;
        }
        h1{
            font-size: 36px;
        }
    }

    .passAnssi{
        width: 80%;
        margin: 50px auto;
        .passLengthIcon{
            padding-top: 20px;
        }
        .length{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .currentLength{
                gap: 20px;
            }

            .anssiFrance{
                width: 50%;
            }
        }
    }

    #passwordOptions{
        width:80%;
        margin: auto;
    }

    .checkBoxContainer{
        .upperLower{
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-top: 20px;

            .upper{
                display: flex;
                align-items: center;
                gap: 5px;
            }

            .lower{
                display: flex;
                align-items: center;
                gap: 5px;
                margin-right: 56px;
            }
        }

        .numberChars{
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
            .numbers{
                display: flex;
                align-items: center;
                gap: 5px;
            }

            .specialChars{
                display: flex;
                align-items: center;
                gap: 5px;
            }
        }
    }
    .anssiFrance2{
        margin-top: 40px;
        width: 80%;
        margin: auto;
    }
    #passwordOptions{
        margin: 50px auto;
    }
    #end{
        margin-top: 25px;
    }
    form{
        display: flex;
        @include input;
        margin: 30px auto;
        width: 80%;
        @include copy;
        border-radius: 10px;
        input{
            width: 80%;
            outline: none;
            border: none;
            border-radius: 10px 0px 0px 10px;
            padding-left: 15px;
        }
        .greenCopy{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: auto;
            cursor: pointer;
        }
    }
    .success{
        width: 35%;
        margin: auto;
    }
}

// pc
@media only screen and (min-width:1000px){
    #logoContainer{
        width: 80%;
       gap: 80px;
        margin: auto;

        h1{
            font-size: 45px;
        }

        svg{
            height: 59.88;
            width: 86.72;
        }
    }

    .passAnssi{
        width: 60%;
    }

    #passwordOptions{
        width: 60%;
    }

    .checkBoxContainer{
        display: flex;
    }
    .anssiFrance2{
        width: 60%;
        margin: auto;
    }
    #end{
        margin-top: 20px;
    }
    form{
        width: 40%;
        margin-top: 30px;
    }
}


// 1300 px

@media only screen and (min-width:1300px){
    .passAnssi{
        max-width: 900px;
    }
    #passwordOptions{
        max-width: 900px;
    }

    .anssiFrance2{
        max-width: 900px;
    }
    form{
        max-width: 900px;
    }
}