// style element
$violetBackground : linear-gradient(116.82deg, #C9ABFC 0%, #C9ABFC 0.01%, #7734E1 53.12%, #401486 98.44%);
$buttonBackgroundLinear : linear-gradient(90deg, #C6A7FB 0%, #8041E4 100%);
$rangeStyle : linear-gradient(90deg, #C9ABFC 0%, #401486 100%);
$appContainer : #1E2528;
// font && font color
$mainColor : #C9ABFC;
$font : 'Outfit', sans-serif;
// info div
$divAnssi : #242C30;
$anssi : #8A78A9;
// var icon color
$infoIcon : #8A78A9;

// color background header
$headerBackground : #181E20;
